*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 450px;
}

.wrapper .content {
    background: linear-gradient(145deg, rgb(255, 199, 13), rgb(140, 243, 255));
    color: rgb(94, 94, 94);
    padding:20px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

.content h2 {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #868686;
    margin-bottom: 15px;
}

/** form style **/
.content .form .input {
    display: flex;
    flex-direction: column;
}

.form .input input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form .input button {
    width: 30%;
    height: 30px;
    font-size: 14px;
    background: rgb(255, 139, 45);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:400ms ease;
}

.form .input button:hover{
    background: rgb(252, 98, 2);
}

/** API Result **/
.content .data-section {
    padding-top: 20px;
}

.suggested {
    border: 2px solid #fff;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.audio {
    padding-top: 10px;
}